<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :saving %><br>
    <%= f.number_field :saving %>
  </div>
  <div class="field">
    <%= f.label :supplier %><br>
    <%= f.text_field :supplier %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :dept %><br>
    <%= f.text_field :dept %>
  </div>
  <div class="field">
    <%= f.label :download %><br>
    <%= f.text_field :download %>
  </div>
  <div class="field">
    <%= f.label :validFrom %><br>
    <%= f.datetime_select :validFrom %>
  </div>
  <div class="field">
    <%= f.label :validTo %><br>
    <%= f.datetime_select :validTo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
